@import 'main';

.loader {
  @include abs-elem(0, 0, 0, 0);
  @include flex-box(center, center);
  background: rgba(256, 256, 256, .9);
  z-index: $loader-z-index;
  &__item {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background: $main-mid-blue-color;
    margin: 0 5px;
    &:nth-child(1) {
      animation: bounce 1s ease-in-out infinite;
    }
    &:nth-child(2) {
      animation: bounce 1s ease-in-out 0.33s infinite;
    }
    &:nth-child(3) {
      animation: bounce 1s ease-in-out 0.66s infinite;
    }
  }
}

@keyframes bounce {
  0%, 75%, 100% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-20px);
  }
}
