@import 'main';

.tag-cloud {
  @include flex-box(center);
  flex-wrap: wrap;
  padding-right: 8px;
  &__container {
    height: 100%;
  }
  &__item {
    @include flex-box(center);
    background: $main-light-blue-color;
    cursor: pointer;
    margin: 0 5px 5px 0;
    padding: 5px 7px 5px 5px;
    border-radius: 10px;
    transition: opacity 300ms ease-in;
    &--selected {
      background: $main-mid-blue-color !important;
      color: #fff;
    }
    > .material-icons {
      color: #fff;
      font-size: 16px;
      margin-right: $gutter / 6;
    }
    &-enter {
      opacity: 0.01;
      &.tag-cloud__item-enter-active {
        opacity: 1;
      }
    }
    &-leave {
      opacity: 1;
      &.tag-cloud__item-leave-active {
        opacity: 0.01;
      }
    }
    &--hovered {
      background: #4da4ff;
      color: #ffffff;
    }
  }
  @media screen and (min-width: $small-desktop-breakpoint) {
    &__item {
      &__text {
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
