@import 'main';

.tag-explorer {
  @include flex-box(space-between, stretch);
  height: 100%;
  overflow: hidden;
  .tag-cloud__container {
    margin-right: -15px;
    padding-right: 15px;
  }
  &__container {
    flex-grow: 2;
    height: 100%;
    overflow: hidden;
    padding-bottom: $gutter / 3;
    &--mobile {
      .tag-cloud__container {
        margin-right: 0;
      }
    }
  }
  &__navigator {
    @include flex-box(center);
    background: #fff;
    cursor: pointer;
    z-index: $navigator-z-index;
    &:first-child {
      padding-left: $gutter / 6;
    }
    &:last-child {
      padding-right: $gutter / 6;
    }
    &--hidden {
      pointer-events: none;
      > .material-icons {
        opacity: 0;
      }
    }
    > .material-icons {
      color: $main-grey-color;
      transition: opacity .3s;
    }
  }
  &__tagcloud {
    width: 100%;
  }
  @media screen and (min-width: $medium-mobile-breakpoint) {
    &__container {
      padding-bottom: $gutter / 2;
    }
    &__navigator {
      &:first-child {
        padding-left: $gutter / 3;
      }
      &:last-child {
        padding-right: $gutter / 3;
      }
    }
  }
  @media screen and (min-width: $small-desktop-breakpoint) {
    &__navigator {
      &:hover {
        > .material-icons {
          color: $main-dark-color;
        }
      }
    }
  }
}
